.App {
  font-family: 'Inter', sans-serif;
  min-width: 1345px;

  position: relative;
  overflow-x: hidden;
  /* font-family: 'Orbitron', sans-serif; */
  background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
  
}

.logo{
    font-family: 'Orbitron', sans-serif;

}
.mybtn{
  border-radius: 0.5em;
  border: none;
  padding: 10px 32px;
  background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%)
}
.container{
  width: 90%;
}

.navbar{
  position: sticky;
  top: 0;
  
}
.menu a {
  color: inherit;
  text-decoration: none;
  
}

.active-link{
  background: linear-gradient(99.05deg, #C824EC 0.07%, #DF308D 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: bold;

}

.menu li {
 
  list-style: none;
  /* margin: 0px  26px  ; */
}

.menu{
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.lhdra{
  text-align: left;
  font-size: 100%;
}
.big-text{
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  font-size: 300%;
  /* line-height: 43px; */

}
.lhdra p  {
  margin: 40px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: rgba(255, 255, 255, 0.85);
}

.buttns{
  display: flex;
  align-items: center;
}
.buttns .mybtn{
  margin-right: 10px;
  /* width: 90p; */
  font-size: 18px;
}
.hero{
  /* position: relative; */
  display: flex;
  padding: 2cm 0px;
  overflow-x: hidden;
  z-index: 99999;
}

.hero-img   {
  width: 580px;
}

h4,h2 , h3 , h1{
  
  font-family: 'Orbitron', sans-serif;
  /* width: 110%; */

}
.sou-image{
  z-index: 99;

  margin: auto;
  background-color: rgba(83, 70, 134, 1);
  width: 400px;
  padding-top: 4cm;
  padding-bottom: 1.2cm;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding-inline:  20px;
  border-top-right-radius: 10px;
  z-index: -1;
  margin-top: -4cm;
}
.sou-image p{
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
}
.sou-image hr{
  width: 50%;
  margin: 20px auto;
  border: 1px white solid ;
}

.avatars{
  display: flex;
  align-items: center;
  margin: 1.4cm 0px;
}
.online{
  margin: 0cm 1cm ;
}
.avatars img{
  width: 1.1cm;
}
.avatars img:not(:first-child){
  margin-left: -5px;
}



.shadow{
  width: 1000px;
  height: 1000px;
  background: radial-gradient(37.26% 37.26% at 50% 50%, rgba(170, 20, 240, 0.31) 0%, rgba(170, 20, 240, 0) 100%) ;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  border: none;
  z-index: 1;
  display: none;
}

/* /////////////////////// */


.gamers{
  /* background-color: #C824EC; */
  display: flex;
  justify-content: space-between;
  text-align: left;
  /* background-color: yellow; */
  margin-top: -3cm;
  
}
.gamers div{
  width: 33%;
}
.boy , .by-gamers {
  margin-top: 4cm ;
}
.gamers .mybtn{
  font-size: 11px;
}
.mybtn{
  /* width: 3cm; */
}
.gamers h3{
  font-family: 'Orbitron', sans-serif;
  margin-top: 1cm;
}
.gamers p{
  font-size: 15px;
  color: rgba(255, 255, 255, 0.85) ;
  margin: 0.7cm 0cm;
}
 .notif h3{
  font-family: 'Orbitron', sans-serif;
  text-align: left;
  margin: 0.5cm 1cm;
 }
 .notif{
  align-items: center;
  display: flex;
  background-color: #534686;
  width: 60%;
  margin: 2cm -11%;

}
.details{
  width: 60% ;
  padding: 0.3cm 0.5cm  ;
  position: absolute;
   z-index: 9999;
   bottom: 0%;
   border-bottom-left-radius: 1em;
   backdrop-filter: blur(20px);

}
.details h4{
  text-decoration: underline;
}
.details p{
  margin: 15px 0px;
}
.feature {
  position: relative;
}


.feedbacks{
  margin-top: 3cm;
  padding: 2cm 0cm;
  border: 1px solid #3d0557;
  height:10cm ;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #AA14F0 -42.58%, rgba(170, 20, 240, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(185, 54, 245, 0) 100%)
}

.feedback{
  border: 0.4px solid #3d0557;
  width: 30%;
  border-radius: 10px;
  background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #CB8DE8 -42.58%, rgba(203, 143, 232, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(199, 137, 228, 0) 100%);
backdrop-filter: blur(11.4349px);

}
.feedback p{
  margin: 0.5cm 0px ;
  font-size: 14px;
}
.reviews{
  margin: 0cm auto ;
  width: 100%;
  /* background-color: #C54B8C; */
  justify-content: space-evenly;
  display: flex;
  position: absolute;
  bottom: -1.7cm;

  
}
.user{
  display: flex;
  /* background-color: aqua; */
  align-items: center;
}
.user-info{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;text-align: left;
}
.user-info p {
  
  /* background-color: yellow; */
  font-size: 14px;
  margin: auto 10px;
}

.Certificates{
  background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #CB8DE8 -42.58%, rgba(203, 143, 232, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(199, 137, 228, 0) 100%);
  border-radius: 1em;
  margin-top: 3cm;
  padding: 1cm ;
  display: flex;
  justify-content: space-between;
}
.solid-text div{
  margin:1.4cm 0px ;
  font-size: 23px;
  font-weight: 400;
}
.line-one{
  display: flex;
  width: 10cm;
  /* align-items: center; */
}
.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* height: 100%; */
}
.footer{

  width: 100%;
  margin-top: 2cm;
  margin-bottom: 1cm;
  display: flex;
  border: 1px solid #3d0557;
  border-radius: 1em;
  background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #AA14F0 -42.58%, rgba(170, 20, 240, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(185, 54, 245, 0) 100%);
}
.img img{
  height: 100%;
  margin: 0%;
  width: 100%;

}
.img{
  /* background-color: yellow; */
  width: 50%;
}

.formdiv input{
  color: white;
  margin-right: 0.7cm;
  background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #CB8DE8 -42.58%, rgba(203, 143, 232, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(199, 137, 228, 0) 100%);
  box-shadow: inset 0px -9.72759px 16.2127px rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12.1595px);
  border: #B936F523 1px solid;
  border-radius: 0.5em;
}

.formdiv{
  width: 50%;
  margin: 1.2cm;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

*:focus {
  outline: none;
}
input::placeholder , input{
  font-size: 13px;
  padding: 0px 8px;
}


.pagination{
  background-color: #f7f7f7;
  /* color: yellow; */
  position: fixed;
  right: 0 ;
  height: 30vh;
  width: 8vh;
  top: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  
}
.pagicon{
  color: #010208;
  font-size: 30px;
  transition: 0.2s;
}
.pagicon:hover{
  transition: 0.4s;
  cursor: pointer;
  transform: translateX(-7px);
  color: #8b1582;
}

.pagicon-active{
  transform: translateX(-7px);
  color: #8b1582;
}



